@import "scss/variables.scss";
.block-containter {
  background-color: #fff;
  padding: 24px;
}

.extend-click {
  position: relative;
}

.extend-click:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.btnLists {
  & .el-button {
    font-size: 18px;
    color: #333333;
    &+.el-button {
      margin-left: 10px;
    }
  }
}

.m-container {
  background-color: #fff;
  padding: 24px;
}

.no-data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.normalize-form-item {
  margin-bottom: 0;
}

.date-connect-line {
  // 让日选择和月选择区间width都为350px
  display: inline-block;
  line-height: 32px;
  width: 30px;
  text-align: center;
}

.form-item__input {
  width: $inputWidthQuery;
}

.float-left {
  float: left;
}

.cursor-pointer {
  cursor: pointer;
}

.breadcrumb {
  padding-left: $blockWidth;
}

.form-input-large {
  width: $formLargeWidth !important;
}

.form-input-medium {
  width: $formMediumWidth !important;
}

.form-input-half {
  width: $formhalfWidth !important;
}

.form-input-80 {
  width: 80px !important;
}

.form-input-100 {
  width: 100px !important;
}

.form-input-128 {
  width: 128px !important;
}

.form-input-150 {
  width: 150px !important;
}

.form-input-200 {
  width: 200px !important;
}

.form-input-240 {
  width: 240px !important;
}

.form-input-260 {
  width: 260px !important;
}

.form-input-180 {
  width: 180px !important;
}

.form-input-320 {
  width: 320px !important;
}

.form-input-610 {
  width: 610px !important;
}

.form-input-624 {
  width: 624px !important;
}

.form-input-sep {
  color: rgb(0, 0, 0) 25%;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
}

.form-input-medium .el-input-group__append {
  background-color: #fff;
  padding: 0 5px;
}

.table-button {
  font-size: 14px;
  font-weight: initial;
  font-family: "Microsoft YaHei"
}

.table-container {
  margin-top: $blockWidth;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.detail-line {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(229, 229, 229, 1);
}

.audit-deal-result {
  word-break: break-all;
}

// 上传样式
.el-upload__tip {
  min-height: 44px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

.lh1-5 {
  line-height: 1.5;
}

// 更多按钮间距
.table-more-btn {
  margin-left: 10px;
}

.form-manage {
  display: flex;
  justify-content: space-between;
}

.form-left-width {
  margin-left: $formLeftWidth;
}

.form-query-input-width {
  width: $inputWidthQuery;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-hidden .el-form-item {
  float: left;
}

.province-form-item {
  width: 160px;
  margin-right: 16px;
}

.clickable {
  color: $primary-color;
}

.margin-top-16 {
  margin-top: 16px;
}

.form-required:before {
  content: '*';
  color: #F5222D;
  margin-right: 4px;
}

.width-fit-content {
  width: fit-content;
}