@import "scss/variables.scss";
$menu-active-color: #FFFFFF;
/* 充值侧边栏的右边线为0 */

.el-menu {
  border-right: 0 !important;
}

/* 重置头部 用户名菜单 选中的颜色 */

.el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
  border-bottom: none;
  color: $menu-active-color;
}

.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-submenu__title.is-active {
  color: $menu-active-color;
}

/* 重置普通按钮宽度为96，加图标设置为120 */

.el-button--primary,
.el-button--default {
  line-height: $buttonLineHeight;
  padding: 0;
  width: 96px;
}

.el-button--have-icon {
  width: 120px;
}

/* 重置input框高度，这里不能写成!important，select多选框会出问题 */

.el-input__inner {
  line-height: $buttonLineHeight;
  height: $buttonLineHeight;
}

/* input框的icon */

.el-input__icon {
  line-height: $buttonLineHeight;
}

/* 重置外部引用icon */

.el-submenu [class^=icon-],
.el-menu-item [class^=icon-] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 16px;
}

/* 导入icon和element icon的样式同步 */

[class*=" icon-"],
[class^=icon-] {
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 左侧菜单栏二级目录间距 */

.sub-menu {
  padding-left: 52px !important;
}

/* 重置进度条内的字体大小 */

.el-progress__text {
  font-size: 28px !important;
}

/* 时间弹窗的优化 */

.el-date-editor .el-range__icon,
.el-date-editor .el-range__close-icon {
  line-height: 24px;
}

.el-date-editor .el-range-separator {
  line-height: 24px;
}

/* sidebar选中状态加背景 */

.el-menu-item.is-active {
  background-color: #e6f7ff;
}

/* 20180705，去除整体布局el-scrollbar滚动条，并且不影响到其他el-scrollbar__wrap组件 */

.app-aside-scroll>.el-scrollbar__wrap,
.app-menu>.el-scrollbar__wrap,
.dailyLive-rank-scrollbar>.el-scrollbar__wrap {
  overflow-x: hidden;
}

/* table tr 背景颜色 */

.el-table thead tr th {
  background-color: #F7F8FC;
}

/* 重置时间选择框大小 */

.el-date-editor.el-input {
  width: 160px;
}

/* table th 不加粗 */

.el-table thead tr th {
  font-weight: 400;
}

/* dialog弹窗的按钮左对齐 */

.el-dialog__footer {
  text-align: left !important;
}

.el-dialog--center .el-dialog__body {
  padding: 20px 20px 0 20px;
}

/*Button*/

.el-button--primary {
  background-color: $primary-background-color;
  &.is-disabled {
    background-color: $primary-disabled-border-color;
    border-color: $primary-disabled-border-color;
    &:active,
    &:focus,
    &:hover {
      background-color: $primary-disabled-border-color;
      border-color: $primary-disabled-border-color;
    }
  }
}

.el-button--default {
  color: $primary-color;
  border-color: $primary-border-color;
  &:focus,
  &:hover {
    color: #FFFFFF;
    border-color: $primary-border-color;
    background-color: $primary-background-color;
  }
}

.el-button--text {
  color: $primary-color;
}

/* 去除tabs border */

.m-container>.el-tabs>.el-tabs__header>.el-tabs__nav-wrap::after {
  height: 0;
}

/* 重置el-tabs的margin-bottom */

.m-container>.el-tabs>.el-tabs__header {
  margin: 0 0 -25px;
}

/* 去除input为number的加减按钮 */

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* 修改默认进度条样式 */

.audit-steps .el-step__icon.is-text {
  border: 0;
  background-color: #BFBFBF;
  width: 10px;
  height: 10px;
  margin-top: 7px;
  font-size: 12px;
}

.audit-steps .el-step__icon-inner {
  color: #BFBFBF;
}

.audit-steps .el-step__head.is-finish .el-step__icon.is-text {
  background-color: #3778FF;
}

.audit-steps .el-step__head.is-finish .el-step__icon-inner {
  color: #3778FF;
}

.audit-steps .el-step__title.is-finish {
  color: inherit;
}

.audit-steps .el-step__title {
  font-size: 14px;
  line-height: 20px;
  padding: 0 4px;
  overflow-wrap: break-word;
}

.el-step.is-center .el-step__description {
  padding-left: 10%;
  padding-right: 10%;
}

.el-step__description {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.45) !important;
  overflow-wrap: break-word;
}

/* 去掉textarea高度可拖拽 */

.el-textarea .el-textarea__inner {
  resize: none;
}

/* 让input错误提示在一行显示 */

.el-form-item__error {
  right: -20px;
}

/* 上传文件样式 */

.el-button_upload {
  width: 108px;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  .icon-up {
    margin-right: $fontWidth;
  }
}

.el-tooltip__popper {
  max-width: 400px;
  word-break: break-all;
}

/* 全局loading背景样式 */

.el-loading-mask {
  background-color: rgba(0, 0, 0, 0);
}