// 存放系统级的变量，比如通用颜色，通用字体大小

$headerBg: #292c31;
$bg: #f6f6f6;
$font: 14px;

$primary-color: #3778FF;
$primary-background-color: $primary-color;
$primary-border-color: $primary-color;

$primary-disabled-color: #A9C0F1;
$primary-disabled-border-color: $primary-disabled-color;

$danger-color: #F5222D;

$success-color: #52C419;

$warning-color: #faad15;

$line-color: rgba(0, 0, 0, 0.25);

// 间距
$blockWidth: 16px;
$fontWidth: 8px;
$formLeftWidth: 24px;
$formWidth: 32px;

// 不超过4个字的按钮宽度
$buttonWidth: 96px;

// 按钮颜色
$buttonColor: $primary-color;
$buttonLineHeight: 32px;

// input框大小
$inputWidthQuery: 160px;

// 不显著标题颜色
$titleColor: rgba(0, 0, 0, 0.25);

// form的标准宽度
$formLargeWidth: 320px;
$formMediumWidth: 240px;
$formhalfWidth: 150px;
