@import '@/assets/scss/variables.scss';
.requirement-create {
  .info-block{
    margin-top: 16px;

    .el-form{
      .el-textarea, .el-autocomplete {
        width: $formLargeWidth;
      }
    }

    .block{
      width: 455px;
      margin: 0 auto;
    }

    .processor-info{
      margin-top: 16px;
    }
  }

  .line{
    height: 1px;
    border-top: 1px solid $line-color;
    margin-top: 20px;
  }

  .checkbox-sms{
    display: none;
    margin-left: 8px;
  }
}
