@import '@/assets/scss/variables.scss';

.customer-create {
  .steps {
    width: 620px;
    margin: 16px auto 40px;
    .step__line {
      width: 120px;
    }
  }

  .info-block{
    margin-top: 16px;
  }
  .customer-create-info,
  .base-optional-info {
    width: 800px;
    margin: 0 auto;
    .el-input, .el-textarea {
      width: $formMediumWidth;
    }
  }
  .base-info,
  .customer-manager-info {
    width: 500px;
    margin: 0 auto;
    .el-input, .el-textarea {
      width: $formLargeWidth;
    }
  }
  .not-required {
    // border-top: 1px solid #E6E6E6;
    height: 1px;
    margin: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .not-required_text {
      line-height: 40px;
      height: 40px;
      width: 800px;
      text-align: center;
      /* padding: 0 20px; */
      line-height: 40px;
      background: #ffffff;
      font-size: 12px;
      color: #C2C2C2;
      background: #fafafa;
      font-size: 14px;
    }
  }
  .second-step {
    width: 800px;
    margin: 0 auto;
  }
  .btn_add-contact {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px dashed rgba(217, 217, 217, 1);
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    margin: 24px 0;
    cursor: pointer;
  }
  .el-tag {
    float: left;
    padding: 0 8px;
    height: 21px;
    line-height: 21px;
    border-radius: 2px;
    margin-right: 5px;
  }
  .tags-wrap {
    width: 100%;
    height: 100%;
    outline: 0;
  }
  .input {
    margin-top: 5px;
    padding: 6px 14px;
    height: 34px;
    line-height: 1;
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .hover {
    border: 1px solid #3778FF;
  }
  .tags, .tags-input{
    outline: none;
    position: relative;
    float: left;
    color: #000;
    line-height: 25px;
    border-radius: 6px;
    .content{
      line-height: 25px;
    }
    .del{
      cursor: pointer;
      width: 22px;
      height: 28px;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: -1px;
      right: 0;
    }
  }
  .tags-input{
    height: 20px;
    font-size: 14px;
    padding: 0;
    background-color: inherit;
    border: none;
    color: inherit;
    width: 7em;
  }
}
