@import "scss/variables.scss";
.active-trend,
.active-userdata,
.province-user {
  margin-top: $blockWidth;
}

/* search */

.active-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-search__select {
  display: flex;
}

.province-operate {
  display: flex;
  align-items: center;
}

.daliy-download {
  margin-left: $blockWidth;
}

.active-search__province,
.active-search__client {
  display: flex;
  align-items: center;
  margin-top: 32px;
  justify-content: space-between;
}

.userdata-main {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.userdata-main-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
}

.userdata-main-left__outer {
  border-right: 1px solid rgba(230, 230, 230, 1);
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
  &:last-child {
    border-right: none;
  }
}

.new-user-analyze {
  .userdata-main-left {
    flex: 1;
  }
}

/* .userdata-main-left__outer+.userdata-main-left__outer {
  padding-left: 40px;
} */

.userdata-main-left__title {
  height: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
}

.userdata-main-left__num {
  margin-top: $blockWidth;
  margin-bottom: $blockWidth;
  height: 22px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 20px;
  font-family: MicrosoftYaHei;
  font-weight: bold;
}

.userdata-main-left__rank {
  height: 16px;
  line-height: 16px;
  color: rgba(55, 120, 255, 1);
  font-size: 12px;
}

.userdata-main-right {
  width: 320px;
}

.userdata-header-quote {
  margin-left: $blockWidth;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
}

.active-trend__header {
  display: flex;
}

.trend-sub {
  display: flex;
  margin-top: $formWidth;
  justify-content: space-between;
  align-items: center;
}

.trend-chart {
  height: 100%;
}

.trend-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trend-header-right {
  display: flex;
  align-items: center;
}

.trend-header-title {
  font-size: 16px;
}

.trend-header-right__query {
  margin-left: $blockWidth;
  display: flex;
}

.trend-header-divider {
  margin: 0 $blockWidth;
  height: $buttonLineHeight;
  line-height: $buttonLineHeight;
  font-size: 20px;
  color: #E3E3E3;
}

.trend-mode {
  margin-top: $formWidth;
  height: 500px;
}

.province-user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.province-user-chart {
  height: 518px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.province-user-chart__map {
  // max-width: 1000px;
  flex: 1;
}

.provinceUser-search {
  margin-left: $formWidth;
}

.data-download {
  margin-left: $blockWidth;
  width: auto;
  padding: 0 12px;
}