.tTable {
  border: 1px #E7E7E7 solid;
  .el-form-item__content {
    margin-left: 0 !important;
  }
  .tHead {
    display: flex;
    height: 40px;
    line-height: 40px;
    background: #F0F2F5;
    text-align: center;
    .title {
      width: 150px;
    }
    >div {
      flex: 1;
      padding: 0 15px;
      border-left: 1px #E7E7E7 solid;
    }
  }
  .tBody {
    .td {
      width: 100%;
      display: flex;
      border-bottom: 1px #E7E7E7 solid;
      margin-bottom: -1px;
      >div {
        flex: 1;
        padding: 20px 15px;
        border-left: 1px #E7E7E7 solid;
      }
      .del {
        text-align: center;
        line-height: 40px;
      }
    }
  }
  .add {
    text-align: center;
    line-height: 40px;
  }
}