@import '@/assets/scss/variables.scss';
.apply {
  .fl {float: left;}
  .line-fl {float: left; height: 40px; line-height: 40px;}
  .data-title {
    font-size: 18px;
    font-weight: 400;
  }
  .cancel {float: right; color: #3778FF;}
  .base-info {
    > .el-form-item {
      display: flex !important;
    }
    .flex-row {
      display: flex !important;
      justify-content: space-between;
      flex: 1;
    }
    .el-form-item__label {
      width: 93px;
      text-align: right;
      .el-checkbox {
        min-width: 90px;
      }
    }
  }
  > .el-form-item {
    display: flex !important;
  }
  .all-label {float: left; margin-right: 36px;}
  .detail-setting {
    display: flex;
    > .el-form-item {
      min-width: 93px;
    }
    > .el-form-item__content {
      flex: 1;
    }
    .el-checkbox {
      min-width: 90px;
    }
    .el-checkbox {margin-left: 0; margin-right: 30px;}
  }
  .detail-set {
    background: #f1f2f3;
    padding: 20px;
    margin: 0 62px 26px;
    border-radius: 5px;
    position: relative;
    > .el-form-item {
      display: flex;
      padding: 0 59px 0 10px;
      > .el-form-item__label {
        min-width: 93px;
        text-align: right;
      }
      > .el-form-item__content {
        width: 100%;
      }
    }
    .el-checkbox {
      min-width: 90px;
    }
    .blue {
      background: #E6F7FF;
    }
    .el-checkbox {margin-left: 0; margin-right: 30px;}
  }
  .detail-set::after {
    position: absolute;
    top: -15px;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #f1f2f3;
  }
}
.multilevel-linkage {
  position: relative;
  border: 1px #E7E7E7 solid;
  border-radius: 3px;
  .el-cascader {
    width: 315px;
    .el-input input {border: 0;}
  }
  .tag-list {
    margin-top: -40px;
    width: 270px;
    position: relative;
    z-index: 2;
    .el-tag {margin-left: 8px;}
  }
}